body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(116, 60, 20, 0.472);
    }
    h1 {
    font-size: 13vh ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .letter {
    transition: color 1000ms ease-in-out;
    }